html{
    background-color: black;
}

.image{
    border: 5px solid white;
    width: 100%;

}
h1{
    font-family: "Croissant One", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 3rem;
}

p{
    color: white;
    text-align: center;
    font-size: 2rem;
}