html{
    background-color: rgba(0, 162, 255, 0);
}
h1{
    color: gold;
    font-style: oblique;
    font-size: 35px;
}
h2{
    color: green;
    font-size: 30px;
}
.note{
    font-size: 20px;
    font-style: italic;
    color:darkmagenta;
}
#my_id{
    color: brown;
    font-style:initial;
}
p[value="a"]{
    color: orange;
    font-size: 20px;
}
li{
    color: red;
    font-size: 15px;
    font-style:oblique;
}

li[value="3"]{
    color: dimgrey;
}
